@import url(../../src/css/index.css);

.file {
  align-items: center;
  background-color: #ccc;
  border-radius: 0.5rem;
  border: 0.2rem dashed var(--background-color-main);
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  justify-content: center;
  width: min(25rem, 100%);
  position: relative;
}

.file:hover {
  opacity: 0.9;
}

.file-input {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.file-input-title,
.file-input-subtitle {
  color: var(--background-color-main);
}

.file-input-title {
  margin: 1rem;
}

.file-input-title-keyword {
  background-color: var(--background-color-main);
  color: var(--color-main);
  border-radius: 0.5rem;
  font-size: 0.8rem;
  padding: 0.4rem;
  text-transform: uppercase;
}

.drag-source {
  background-color: var(--color-main);
  border-radius: 50%;
  border: 0.25rem solid gray;
  cursor: move;
  display: inline-block;
  height: 5rem;
  margin: 1rem;
  width: 5rem;
}
