.cards {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(min(21em, 100%), 1fr));
}

.card {
  background-color: var(--color-primary-500);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  left: 0;
  position: relative;
  top: 0;

  transition: box-shadow 500ms ease, filter 500ms ease, left 500ms ease,
    scale 500ms ease, top 500ms ease, transform 500ms ease;
}

.card:hover {
  scale: 1.02;
}

/* .cards:has(.card:hover) .card:not(:hover) {
  filter: blur(0.05em) saturate(0.85);
} */

.card__header {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 1em;
}

.card__title {
  display: flex;
  align-items: center;
  gap: 0.125em;
}

.card__title .h3 {
  margin-left: 0.25em;
}

.card__header i {
  color: #aa3;

  transition: color 250ms all;
}

.card:hover .card__header i {
  color: #dd3;
}

.card__subtitle {
  background-color: var(--color-primary-700);
  border-radius: 5em;
  display: flex;
  gap: 0.5em;
  padding: 0.25em 0.75em;
  place-items: center;
}

.card__body {
  border-bottom: 0.1em dotted var(--color-primary-700);
  border-top: 0.1em dotted var(--color-primary-700);
  padding-block: 1em 0.25em;
  padding: 1em;
  flex-grow: 1;
}

.card__ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card__li {
  padding-left: 2em;
  position: relative;
  cursor: default;
}

.card__li::before {
  border-radius: 50%;
  color: var(--color-primary-700);
  content: "\f054";
  display: grid;
  font-family: "FontAwesome";
  height: 1em;
  left: 0;
  padding: 0.25em;
  place-content: center;
  position: absolute;
  width: 1em;

  transition: background-color 250ms ease, color 250ms ease, filter 250ms ease;
}

.card__li.card__li--included::before {
  color: var(--color-secondary-700);
  content: "\f00c";
}

.card__li.card__li--semi-included::before {
  color: #bb3;
  content: "\f00c";
}

.card__li.card__li--excluded {
  text-decoration: line-through;
  color: var(--color-light-000);
}

.card__li.card__li--excluded::before {
  color: var(--color-tertiary-700);
  content: "\f00d";
}

.card__li:hover::before {
  background-color: var(--color-dark-300);
  filter: saturate(3);
}

.card__asterisk {
  align-items: center;
  background-color: var(--color-primary-700);
  border-radius: 50%;
  color: var(--color-primary-300);
  display: inline-flex;
  font-size: var(--font-size--sm);
  height: 1.5em;
  justify-content: center;
  margin-inline: 0.5em;
  padding: 0.25em;
  width: 1.5em;
}

.card__footer {
  padding: 1em;
}

.card__ol {
  counter-reset: card__li--asterisk;
}

.card__ol.card__ol--asterisk {
  font-size: var(--font-size--sm);
}

.card__li.card__li--asterisk {
  padding-left: 2.5em;
  counter-increment: card__li--asterisk;
}

.card__li.card__li--asterisk::before {
  font-size: var(--font-size--sm);
  color: var(--color-primary-700);
  height: 2em;
  width: 2em;
  content: "* " counter(card__li--asterisk);
}
