.label {
  padding-inline: 0.75em;
}

.input,
.checkbox,
.radio {
  background-color: var(--color-light-500);
  border: 0.1em solid var(--color-light-000);
  border-radius: 0.2em;
  color: var(--color-dark-300);
  font-family: var(--font-family-tertiary);
  height: 1.5em;
  max-height: 1.5em;
  max-width: 1.5em;
  min-height: 1.5em;
  min-width: 1.5em;
  outline: none;
  position: relative;
  text-align: center;
  width: 1.5em;
}

.input:hover,
.checkbox:hover,
.radio:hover {
  outline-offset: 0.1em;
  outline: 0.1em dotted var(--color-primary-900);
}

.input:focus,
.checkbox:focus,
.radio:focus {
  outline-offset: 0.1em;
  outline: 0.1em dotted var(--color-light-500);
}

.input {
  padding: 0.5em 0;
}

.checkbox {
  accent-color: var(--color-light-500);
}

.radio {
  border-radius: 50%;
}

.checkbox::before,
.radio::before {
  background-color: transparent;
  content: "";
  height: 0%;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0%;

  transition: all 250ms ease;
}

.checkbox:checked::before,
.radio:checked::before {
  background-color: var(--color-primary-500);
  content: "";
  height: 80%;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 80%;
}

.checkbox:checked::before {
  border-radius: 0.1em;
}

.checkbox--indeterminate::after {
  background-color: var(--color-light-500);
  content: "";
  height: 12%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
}

.radio:checked::before {
  border-radius: 50%;
}
