.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 5em;
}

.form__group {
  background-color: var(--color-primary-500);
  border-radius: 0.5em;
  padding: 1em;
}

.form__group-header {
  margin-bottom: 0.75em;
  font-weight: bold;
}

.form__group-body {
  display: grid;
  gap: 0.75em;
  grid-template-columns: repeat(auto-fit, minmax(max(12em, 45%), 1fr));
}

.form__control {
  display: flex;
}

.form__control--background {
  background-color: var(--color-primary-700);
  padding: 0.5em;
  border-radius: 0.5em;
}
