.h1,
.h2,
.h3 {
  font-weight: bold;
  position: relative;
}

.h1 {
  font-family: var(--font-family-secondary);
  font-size: 1.75em;
}

.h1--margin {
  margin-bottom: 1.25em;
}

.h2 {
  font-size: 1.5em;
}

.h2--margin {
  margin-bottom: 1em;
}

.h3 {
  font-size: 1.25em;
}

.h3--margin {
  margin-bottom: 0.75em;
}

.h3 i {
  font-size: 1em;
  padding-inline: 0.5em;
}

.h--line-left {
  border-left: 0.2em solid var(--color-light-500);
  padding-left: 0.5em;
}

.h--line-bottom {
  padding-bottom: 0.7em;
}

.h--line-bottom::before {
  background-color: var(--color-light-500);
  bottom: 0;
  content: '';
  height: 0.175em;
  position: absolute;
  width: 2em;
}

.h--light,
.h--light,
.h--light {
  border-color: var(--color-dark-300);
  color: var(--color-dark-300);
}
