.link {
  align-items: center;
  display: flex;
  gap: 1em;
}

.link:hover:not(:has(i)),
.link:hover :not(i) {
  cursor: pointer;
  text-decoration: underline;
}

.link--disabled {
  pointer-events: none;
  opacity: 0.5;
}
