body.body__modal--open,
body:has(.modal):not(:has(.modal--hidden)) {
  overflow: hidden;
  /* padding-right: 1em; */
}

/* TODO : check auto scroll to top */
body.body__modal--open {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

.modal {
  background-color: #0003;
  display: grid;
  height: 100%;
  left: 0;
  overflow: hidden;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  -webkit-backdrop-filter: blur(0.2em);
  backdrop-filter: blur(0.2em);
  opacity: 1;
  visibility: visible;
  transition: -webkit-backdrop-filter 500ms ease, backdrop-filter 500ms ease,
    opacity 500ms ease, visibility 500ms ease;
}

.modal--hidden {
  -webkit-backdrop-filter: blur(0.2em);
  backdrop-filter: blur(0);
  opacity: 0;
  visibility: hidden;
}

.modal__window {
  background-color: var(--color-light-500);
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  height: min(32em, 100%);
  justify-content: space-between;
  position: relative;
  width: min(53em, calc(100% - 2em));

  transform: translateY(0em);
  visibility: visible;
  transition: transform 500ms ease, visibility 500ms ease;
}

.modal--hidden .modal__window {
  transform: translateY(50em);
  visibility: hidden;
}

.modal__window--fit-content {
  height: fit-content;
  max-height: 85vh;
  max-width: min(53em, calc(100% - 2em));
  min-width: min(25em, calc(100% - 2em));
  width: fit-content;
}

.modal__header {
  color: var(--color-dark-100);
  padding: 1.25em;
  border-radius: 0.75em 0.75em 0 0;
}

.modal__body {
  color: var(--color-dark-100);
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.25em;
}

.modal__footer {
  color: var(--color-dark-100);
  padding: 1.25em;
  border-radius: 0 0 0.75em 0.75em;
}

.modal__header--no-padding-top,
.modal__body--no-padding-top,
.modal__footer--no-padding-top {
  padding-top: 0;
}

.modal__header--no-padding-bottom,
.modal__body--no-padding-bottom,
.modal__footer--no-padding-bottom {
  padding-bottom: 0;
}

.modal:not(:has(.modal__header)) .modal__body,
.modal:not(:has(.modal__header, .modal__body)) .modal__footer {
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}

.modal:not(:has(.modal__footer)) .modal__body,
.modal:not(:has(.modal__body, .modal__footer)) .modal__header {
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}

.modal:has(.modal__close) .modal__header,
.modal:has(.modal__close):not(:has(.modal__header)) .modal__body,
.modal:has(.modal__close):not(:has(.modal__header, .modal__body))
  .modal__footer {
  padding-right: 4em;
}

.modal__close,
.modal__budget-remove {
  border-radius: 50%;
  display: grid;
  font-size: 1em;
  height: 2em;
  outline: none;
  place-items: center;
  position: absolute;
  width: 2em;
  z-index: 1;

  background-color: var(--color-light-500);
  color: var(--color-dark-300);
  transition: background-color 250ms ease, color 250ms ease;
}

.modal__close {
  right: 1em;
  top: 1em;
}

.modal__budget-remove {
  right: 1em;
  bottom: 1em;
}

.modal__close:hover,
.modal__budget-remove:hover,
.modal__close:focus,
.modal__budget-remove:focus {
  background-color: var(--color-dark-300);
  color: var(--color-light-500);
}

.modal__budget {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  margin-bottom: 1em;
}

.modal__budget-amount,
.modal__budget-item--heading {
  font-weight: bold;
}

.modal__budget-item--heading:not(:first-of-type) {
  margin-top: 0.5em;
}
