@charset "UTF-8";

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    -webkit-transition: none !important;
    animation: none !important;
    transition: none !important;
  }
}

::-moz-selection {
  background-color: var(--color-light-100);
  color: var(--color-dark-100);
}

::selection {
  background-color: var(--color-light-100);
  color: var(--color-dark-100);
}

* {
  -webkit-box-sizing: border-box;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  height: 100%;
  scroll-padding-top: var(--scroll-padding-top);
  width: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -ms-hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: auto;
  background-color: var(--color-primary-300);
  color: var(--color-light-500);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-primary);
  font-size: 100%;
  font-smooth: always;
  hyphens: auto;
  justify-content: space-between;
  line-height: 1.4em;
  min-height: 100%;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

img,
picture,
video,
iframe,
figure {
  -o-object-fit: cover;
  -o-object-position: center center;
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

a {
  color: inherit;
  display: block;
  font-size: inherit;
  text-decoration: none;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  color: inherit;
  font-size: 1em;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  -moz-appearance: none;
  -ms-hyphens: auto;
  -o-appearance: none;
  -webkit-appearance: none;
  -webkit-hyphens: auto;
  appearance: none;
  background-color: transparent;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentColor;
  width: 100%;
}
