.sticky {
  background-color: var(--color-primary-500);
  bottom: 0;
  box-shadow: 0 -0.5em 0.5em -0.5em var(--color-primary-300);
  color: var(--color-light-300);
  font-weight: bold;
  min-height: calc(1em + 2em + 1em);
  left: 0;
  position: sticky;
  text-align: center;
  width: 100%;

  transform: translateY(10em);
  transition: transform 500ms ease;
}

.sticky--show {
  transform: translateY(0);
}

.sticky__budget-container {
  overflow: hidden;
  padding: 1.25em 1em;
}

.sticky__budget {
  font-size: 2em;

  transform: translateY(0);
  transition: transform 200ms ease;
}

.sticky__budget--change {
  transform: translateY(10em);
}

.sticky__button {
  border-radius: 50%;
  box-shadow: 0 0 0.5em 0 var(--color-primary-300);
  cursor: default;
  display: grid;
  height: 3em;
  outline: none;
  place-content: center;
  position: fixed;
  width: 3em;
  z-index: 1;

  background-color: var(--color-primary-500);
  transform: translateY(10em);
  transition: background-color 500ms ease, transform 500ms ease;
}

.sticky__button:hover,
.sticky__button:focus {
  background-color: var(--color-primary-700);
}

.sticky__button:hover::before,
.sticky__button:focus::before {
  border-radius: 50%;
  content: "";
  height: calc(100% + 0.25em);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 0.25em);
}

.sticky__button:hover::before {
  border: 0.05em dashed var(--color-primary-900);
}

.sticky__button:focus::before {
  border: 0.05em dashed var(--color-light-300);
}

.sticky__button--reset {
  bottom: 6em;
  right: 1em;
}

.sticky__button--save {
  bottom: 2.25em;
  right: 1em;
}

.sticky__button--show {
  transform: translateY(0em);
}

.sticky__button i {
  font-size: 1.25em;
}
