:root {
  --color-light-000: #ccc;
  --color-light-100: #ddd;
  --color-light-200: #eee;
  --color-light-300: #fff;

  --color-dark-000: #000;
  --color-dark-100: #111;
  --color-dark-200: #222;
  --color-dark-300: #333;

  --color-primary-000: #001;
  --color-primary-100: #112;
  --color-primary-200: #223;
  --color-primary-300: #334;
  --color-primary-400: #445;
  --color-primary-500: #556;
  --color-primary-600: #667;
  --color-primary-700: #778;
  --color-primary-800: #889;
  --color-primary-900: #99a;

  --color-secondary-000: #010;
  --color-secondary-100: #121;
  --color-secondary-200: #232;
  --color-secondary-300: #343;
  --color-secondary-400: #454;
  --color-secondary-500: #565;
  --color-secondary-600: #676;
  --color-secondary-700: #787;
  --color-secondary-800: #898;
  --color-secondary-900: #9a9;

  --color-tertiary-000: #100;
  --color-tertiary-100: #211;
  --color-tertiary-200: #322;
  --color-tertiary-300: #433;
  --color-tertiary-400: #544;
  --color-tertiary-500: #655;
  --color-tertiary-600: #766;
  --color-tertiary-700: #877;
  --color-tertiary-800: #988;
  --color-tertiary-900: #a99;

  --font-family-primary: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-family-secondary: serif;
  --font-family-tertiary: monospace;

  --scroll-padding-top: calc(1em + 1.75em + 1em);
}

/* @media (prefers-color-scheme: dark) {
    :root {
      --color-dark-000: #ccc;
      --color-dark-100: #ddd;
      --color-dark-200: #eee;
      --color-dark-300: #fff;
  
      --color-light-000: #000;
      --color-light-100: #111;
      --color-light-200: #222;
      --color-light-300: #333;
    }
  } */
