:root {
  --color-light-000: #aaa;
  --color-light-100: #bbb;
  --color-light-200: #ccc;
  --color-light-300: #ddd;
  --color-light-400: #eee;
  --color-light-500: #fff;

  --color-dark-000: #000;
  --color-dark-100: #111;
  --color-dark-200: #222;
  --color-dark-300: #333;
  --color-dark-400: #444;
  --color-dark-500: #555;

  --color-primary-000: #004;
  --color-primary-100: #115;
  --color-primary-200: #226;
  --color-primary-300: #337;
  --color-primary-400: #448;
  --color-primary-500: #559;
  --color-primary-600: #66a;
  --color-primary-700: #77b;
  --color-primary-800: #88c;
  --color-primary-900: #99d;

  --color-secondary-000: #040;
  --color-secondary-100: #151;
  --color-secondary-200: #262;
  --color-secondary-300: #373;
  --color-secondary-400: #484;
  --color-secondary-500: #595;
  --color-secondary-600: #6a6;
  --color-secondary-700: #7b7;
  --color-secondary-800: #8c8;
  --color-secondary-900: #9d9;

  --color-tertiary-000: #400;
  --color-tertiary-100: #511;
  --color-tertiary-200: #622;
  --color-tertiary-300: #733;
  --color-tertiary-400: #844;
  --color-tertiary-500: #955;
  --color-tertiary-600: #a66;
  --color-tertiary-700: #b77;
  --color-tertiary-800: #c88;
  --color-tertiary-900: #d99;

  --font-family-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-family-secondary: serif;
  --font-family-tertiary: monospace;

  --font-size--sm: 0.7em;
  --font-size--md: 1em;
  --font-size--ld: 1.2em;

  --scroll-padding-top: calc(1em + 1.75em + 1em);
}

/* @media (prefers-color-scheme: dark) {
    :root {
      --color-dark-000: #ccc;
      --color-dark-100: #ddd;
      --color-dark-200: #eee;
      --color-dark-300: #fff;
  
      --color-light-000: #000;
      --color-light-100: #111;
      --color-light-200: #222;
      --color-light-300: #333;
    }
  } */
