.spinner {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
