html {
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

.cover-title {
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.cover-image {
    filter: brightness(0.75) hue-rotate(10deg);
    height: min(10rem, 100%);
    width: auto;
}

.cover-logo {
    filter: invert();
    width: min(10rem, 20vw);
}

.carousel-image {
    filter: brightness(0.9) contrast(1.1) saturate(1.1) hue-rotate(15deg);
}

.title {
    display: flex;
    align-items: center;
}

.title-icon {
    min-width: 1.5rem;
    margin-right: 0.5rem;
}

.list-group-item {
    margin-bottom: 1rem;
}

.list-group-item-amount {
    background-color: black;
    color: white;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.link {
    text-decoration: none;
}

.map {
    border: 0;
    width: 100%;
    aspect-ratio: 2/1;
}
