@import url(../../src/css/index.css);

body:has(.modal) {
  overflow: hidden;
}

body:has(.modal.hidden) {
  overflow: auto;
}

.modal-open {
  cursor: default;
}

.modal-open-button {
  background: var(--background-color-gradient);
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--color-main);
  display: flex;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  gap: 1rem;
  padding: 1rem;
}

.modal-open-button:hover {
  background: var(--color-main);
  color: var(--background-color-main);
  opacity: 0.8;
}

.modal {
  align-items: center;
  background-color: var(--color-main-alpha);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal.hidden {
  display: none;
}

.modal-window {
  background-color: var(--background-color-main);
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--color-main);
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: min(40rem, 90%);
  justify-content: space-between;
  margin-top: 5%;
  padding: 1rem;
  position: relative;
  width: min(50rem, 95%);
}

.modal-window.modal-window-fit-content {
  height: fit-content;
  width: fit-content;
}

.modal-window-header {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.modal-window-header-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.modal-window-header-close {
  aspect-ratio: 1/1;
  background-color: var(--background-color-main);
  border: var(--border-size) solid var(--color-main);
  border-radius: 50%;
  cursor: default;
  display: grid;
  font-size: 1.25rem;
  place-items: center;
  position: absolute;
  right: 1rem;
  top: -1.75rem;
  width: 3rem;
}

.modal-window-header-close:hover {
  background-color: var(--color-main);
  color: var(--background-color-main);
}

.modal-window-body {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
  min-height: 3rem;
}

.modal-window-body::-webkit-scrollbar {
  display: none;
}

.modal-window-body iframe {
  height: 100%;
  width: 100%;
}

.modal-window-body img {
  margin-inline: auto;
  max-height: 100%;
}

.modal-window-footer {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.modal-window-footer-cancel,
.modal-window-footer-accept {
  cursor: default;
  padding: 0.5rem 0rem;
  text-align: center;
  width: 50%;
}

.modal-window-footer-cancel:hover,
.modal-window-footer-accept:hover {
  background-color: var(--color-main);
  color: var(--background-color-main);
}
