@import url(../../src/css/index.css);

.history {
  background: var(--background-color-gradient);
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--color-main);
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.history-back,
.history-forward {
  padding: 0.5rem;
  border-radius: 50%;
}

.history-back:hover,
.history-forward:hover {
  background: var(--background-color-gradient);
}

.history-back-icon,
.history-forward-icon {
  fill: var(--color-main);
  width: 1.25rem;
}

.history-query-parameter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.history-query-parameter-title {
}

.history-query-parameter-input,
.history-query-parameter-button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--color-main);
  margin-top: 0.25rem;
  outline: none;
}

.history-query-parameter-input:focus,
.history-query-parameter-button:focus {
  border-bottom: 1px solid var(--color-main);
}

.history-query-parameter-input {
}

.history-query-parameter-button {
  font-weight: bold;
  padding: 0rem 0.5rem;
}

.history-query-parameter-button:hover {
  filter: invert(1);
}
