@import url(../../css/index.css);

.clock {
  background: var(--background-color-gradient);
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--color-main);
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.clock-hours,
.clock-minutes,
.clock-seconds {
  padding: 1rem;
}

.clock-minutes {
  border-left: var(--border-size) dashed var(--color-main);
  border-right: var(--border-size) dashed var(--color-main);
}
