@import url(../../src/css/index.css);

.lazy-load {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  background: var(--background-color-gradient);
  border: var(--border-size) solid var(--color-main);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  width: min(25rem, 100%);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-header-icon {
  padding: 0.5rem;
  width: 3rem;
}

.card-header-title {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.card-body {
}

.card-body-list {
}

.card-body-list-item {
}

.card-body-list-item.title {
  font-weight: bold;
}

.card-body-list-item.description {
  display: block;
  margin-bottom: 0.5rem;
}

.card-footer {
  text-align: center;
}

.card-footer-website {
  color: var(--background-color-primary);
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

.card-footer-website:hover {
  color: var(--color-main);
}
