@import url("../../css/index.css");

.carousel {
  display: flex;
  height: 50vh;
  width: 100%;
}

.carousel--horizontal {
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.carousel--vertical {
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slide {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
