@import url("../../css/index.css");

@property --rotation-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  from { --rotation-angle: 0deg; }
  to { --rotation-angle: 360deg; }
}

.hover {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  padding: 0.5rem;
  position: relative;
}

.hover-content {
  background-color: var(--color-main);
  border-radius: 0.5rem;
  color: var(--background-color-main);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 1rem;

  transform-style: preserve-3d;
  transform: perspective(100rem) rotateY(var(--rotateY)) rotateX(var(--rotateX));
  transition: transform var(--transition-duration) ease;
}

.hover[data-hover] .hover-content {
  --transition-duration: 300ms;
}

.hover[data-mouseover] .hover-content {
  --transition-duration: 150ms;
}

.hover[data-mousefollow] .hover-content,
.hover[data-mousemove] .hover-content {
  --transition-duration: 75ms;
}

.hover[data-hover] > .hover-area {
  inset: 0;
  position: absolute;
  z-index: 10;
}

.hover[data-hover] > .hover-area:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.hover[data-hover] > .hover-area:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.hover[data-hover] > .hover-area:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.hover[data-hover] > .hover-area:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.hover[data-hover] > .hover-area:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.hover[data-hover] > .hover-area:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 2;
}

.hover[data-hover] > .hover-area:nth-child(7) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.hover[data-hover] > .hover-area:nth-child(8) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.hover[data-hover] > .hover-area:nth-child(9) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.hover[data-hover] > .hover-area:nth-child(1):hover ~ .hover-content {
  --rotateX: +25deg;
  --rotateY: -25deg;
}

.hover[data-hover] > .hover-area:nth-child(2):hover ~ .hover-content {
  --rotateX: +25deg;
  --rotateY: +00deg;
}

.hover[data-hover] > .hover-area:nth-child(3):hover ~ .hover-content {
  --rotateX: +25deg;
  --rotateY: +25deg;
}

.hover[data-hover] > .hover-area:nth-child(4):hover ~ .hover-content {
  --rotateX: +00deg;
  --rotateY: -25deg;
}

.hover[data-hover] > .hover-area:nth-child(5):hover ~ .hover-content {
  --rotateX: +00deg;
  --rotateY: +00deg;
}

.hover[data-hover] > .hover-area:nth-child(6):hover ~ .hover-content {
  --rotateX: +00deg;
  --rotateY: +25deg;
}

.hover[data-hover] > .hover-area:nth-child(7):hover ~ .hover-content {
  --rotateX: -25deg;
  --rotateY: -25deg;
}

.hover[data-hover] > .hover-area:nth-child(8):hover ~ .hover-content {
  --rotateX: -25deg;
  --rotateY: +00deg;
}

.hover[data-hover] > .hover-area:nth-child(9):hover ~ .hover-content {
  --rotateX: -25deg;
  --rotateY: +25deg;
}

.hover--card {
  height: 10rem;
  width: min(20rem, 100%);
}

.hover--shadow .hover-content::after,
.hover--shadow .hover-content::before,
.hover--glow .hover-content::after,
.hover--glow .hover-content::before {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.hover--shadow .hover-content::before,
.hover--glow .hover-content::before {
  inset: 0rem;
  transform: translateZ(-1.75rem);
}

.hover--shadow .hover-content::after,
.hover--glow .hover-content::after {
  inset: -0.5rem;
  transform: translateZ(-2rem);
}

.hover--shadow .hover-content::before {
  background: var(--color-main);
  filter: blur(0.25rem) opacity(0.5);
}

.hover--shadow .hover-content::after {
  background: linear-gradient(
    -45deg,
    var(--background-color-primary),
    var(--background-color-secondary)
  );
}

.hover--glow .hover-content::after,
.hover--glow .hover-content::before {
  background: conic-gradient(
    from var(--rotation-angle),
    var(--background-color-primary),
    var(--background-color-secondary),
    var(--background-color-primary)
  );
  animation: rotation 3s linear infinite;
}

.hover--glow .hover-content::before {
  filter: blur(1.5rem);
}
