.about,
.portfolio,
.contact {
  width: min(80rem, 85%);
  margin: 0rem auto;
  color: var(--color-tertiary);
  z-index: 1;
}

.about h2,
.portfolio h2,
.contact h2 {
  font-size: 2rem;
  margin: 5rem 0rem 2rem 0rem;
}

/* [CONTENT] ABOUT */

.about-content p {
  font-size: 1.25rem;
}

.warn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.warn-icon {
  margin: 1rem;
}

.warn-text {
  font-weight: bold;
  text-align: center;
}

hr {
  background-color: var(--color-palette-primary);
  border: none;
  height: 0.1rem;
  margin: 2rem auto;
  opacity: 0.5;
}

.about-technologies {
  font-size: 2rem;
  text-align: center;
}

.about-technologies i,
.about-technologies br {
  margin: 0.25rem;
}

/* [CONTENT] PORTFOLIO */

.portfolio-section {
  display: flex;
  justify-content: center;
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1rem;
}

.card {
  border-radius: 5px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  height: 200px;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  text-align: center;
  width: min(300px, 100%);
}

.card:hover .card-content {
  transform: translateY(0);
}

.card:hover .card-content > * {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--delay) / 8);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--delay) * 1.5 var(--cubic-bezier));
  pointer-events: none;
}

.card:hover:before {
  transition: 0.7s;
  background: var(--color-palette-secondary);
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0.8) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--delay) * 2 var(--cubic-bezier));
}

.card:hover:after {
  transition: 0.7s;
  transform: translateY(-50%);
}

.card.film {
  background: url(/home/images/film.jpg) center/75%;
}

.card.house {
  background: url(/home/images/house.png) center/75%;
}

.card.store {
  background: url(/home/images/store.png) center/80%;
}

.card.wc {
  background: url(/home/images/web-components.png) center/80%;
}

.card.js {
  background: url(/home/images/javascript.png) center/70%;
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--delay) var(--cubic-bezier);
  z-index: 1;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.25rem;
}

.card-description {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.card-button {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: none;
}

.card-button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  transition: transform var(--delay) var(--cubic-bezier), opacity var(--delay) var(--cubic-bezier);
}

.card-button:focus {
  outline: 1px dashed var(--color-palette-tertiary);
  outline-offset: 3px;
}

.card-content {
  transform: translateY(calc(100% - 4.5rem));
}

.card-content > * {
  opacity: 0;
  transform: translateY(1rem);
  transition: transform var(--delay) var(--cubic-bezier), opacity var(--delay) var(--cubic-bezier);
}

@media (min-width: 850px) {
  .card {
    height: 250px;
    width: 350px;
  }
}

/* [CONTENT] CONTACT */

.contact button,
.contact input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.container {
  margin-inline: auto;
  max-width: 35rem;
  flex: 0 1 100%;
}

.screen {
  background: #3e3e3e;
  border-radius: 10px;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-radius: 10px 10px 0px 0px;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem;
  width: 100%;
}

.screen-body-item {
  flex-grow: 1;
  min-width: 50%;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.app-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  color: #bba078;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #bba078;
}

.app-form-group {
  margin-bottom: 25px;
}

.app-form-group.message {
  margin-top: 25px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0px;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button-cancel {
  background: none;
  border: none;
  color: #807060;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  padding: 0px 5px;
}

.app-form-button-cancel:hover {
  color: #908070;
}

.app-form-button-send {
  background: none;
  border: none;
  color: #c5ab63;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  padding: 0px 5px;
}

.app-form-button-send:hover {
  color: #d5bb73;
}
