.footer {
  padding: 3rem;
  background-color: var(--color-palette-quaternary);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.footer p,
.footer h4 {
  width: 100%;
  margin: 0.5rem;
  text-align: center;
}
