<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css" />
    <script type="module" src="../../js/index.js" defer></script>
  </head>
  <body>
    <template data-import="/css/src/components/header.html"></template>
    <nav class="nav">Nav</nav>
    <aside class="aside">Aside</aside>
    <main class="main">
      <h1 class="main-title">Layout</h1>
      <p class="main-paragraph">Responsive layout</p>
    </main>
    <template data-import="/css/src/components/footer.html"></template>
  </body>
</html>
