.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    height: auto;
    width: 80%;
    margin: 20px;
    text-align: justify;
}

.movieImage {
    border-radius: 5px;
    object-fit: cover;
}

.movieDetails {
    font-size: 1.5rem;
}

.title {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
