@import url(../../css/index.css);
@import url(../file/style.css);

/* TODO : ALL ABOUT EDITOR */

#image-output {
  margin-block: 20px;
  max-width: 90%;
}

#download-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightgray;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
}
