@import url(../../css/index.css);
@import url(../clock/style.css);
@import url(../indexed-db/style.css);

.clock {
  font-size: 1rem;
  margin: 1rem;
  position: relative;
}

.fibonacci-cached {
  background-color: var(--background-color-main);
  border-radius: 5rem;
  border: var(--border-size) solid var(--color-main);
  font-size: 0.5rem;
  padding: 0.25rem 0.5rem;
  position: absolute;
  right: -1rem;
  text-transform: uppercase;
  top: -0.95rem;
}

.web-worker-loader:not([hidden]) {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
}

.web-worker-loader-spinner {
  animation: web-worker-loader-spinner-animation 2s linear infinite;
  border-radius: 50%;
  border: 0.5rem dotted var(--color-main);
  height: 3rem;
  margin: 2rem;
  width: 3rem;
}

@keyframes web-worker-loader-spinner-animation {
  50% {
    opacity: 0.25;
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.web-worker-loader-text {
  text-align: center;
}
