<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Royal Tours · Calendar</title>
    <link rel="shortcut icon" href="/royaltours/src/assets/logo.svg" type="image/x-icon" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/royaltours/src/styles/index.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script defer type="module" src="/royaltours/src/scripts/index.js"></script>
    <script defer type="module">
      // TODO : avoid collision - divide calendars properly - could be improved
      import { createCalendarWithTable } from "/royaltours/src/scripts/calendar.js";
      createCalendarWithTable({
        container: window.document.querySelector(".calendar--table"),
      });
    </script>
  </head>
  <body>
    <header class="header header--links-right">
      <a class="header__logo link" href="/royaltours/">
        <i class="fa-solid fa-crown"></i>
        <h1 class="h1">Royal Tours</h1>
      </a>
      <a class="header__skip-navigation link" href="#main">Saltar navegación</a>
    </header>
    <main class="main">
      <section class="container container--md">
        <h2 class="h2 h2--margin">Calendario 1</h2>
        <article class="calendar calendar--table"></article>
      </section>
      <section class="container container--md">
        <h2 class="h2 h2--margin">Calendario 2</h2>
        <!-- TODO : use an input to save and query selected dates -->
        <article class="calendar calendar--grid">
          <header class="calendar__header">
            <div class="calendar__button-group">
              <button class="calendar__button calendar__button--previous-year">
                <i class="fa-solid fa-angles-left"></i>
              </button>
              <button class="calendar__button calendar__button--previous-month">
                <i class="fa-solid fa-chevron-left"></i>
              </button>
            </div>
            <div class="calendar__date">
              <span class="calendar__year" contenteditable></span>
              <span class="calendar__separator">·</span>
              <span class="calendar__month" contenteditable></span>
              <span class="calendar__separator">·</span>
              <span class="calendar__day" contenteditable></span>
            </div>
            <div class="calendar__button-group">
              <button class="calendar__button calendar__button--next-month">
                <i class="fa-solid fa-chevron-right"></i>
              </button>
              <button class="calendar__button calendar__button--next-year">
                <i class="fa-solid fa-angles-right"></i>
              </button>
            </div>
          </header>
          <div class="calendar__body">
            <ol class="calendar__weekdays"></ol>
            <ol class="calendar__monthdays"></ol>
          </div>
          <footer class="container__footer"></footer>
        </article>
        <script type="module">
          import { $ } from "/royaltours/src/scripts/selector.js";
          import {
            getCalendar,
            getMonths,
            getWeekdays,
            monthdayStatusClasses,
          } from "/royaltours/src/scripts/calendar.js";
          import { fetchJsonPromise } from "/royaltours/src/scripts/json.js";
          import { getBookings } from "/royaltours/src/scripts/booking.js";

          const months = getMonths({ locale: "es-ES" });
          createCalendar({ container: $.one(".calendar--grid") });

          function getCalendarSelection(
            { container = $.one(".calendar--grid") } = {
              container: $.one(".calendar--grid"),
            }
          ) {
            const start = $.from(container).one(".calendar__monthday--start");
            const end = $.from(container).one(".calendar__monthday--end");
            const selected = $.from(container).all(
              ".calendar__monthday--selected"
            );
            return { start, end, selected };
          }

          function setSelectedMonthDay(monthDay) {
            monthDay.classList.add("calendar__monthday--selected");
          }

          function setStartMonthDay(monthDay) {
            setSelectedMonthDay(monthDay);
            monthDay.classList.add("calendar__monthday--start");
          }

          function setEndMonthDay(monthDay) {
            setSelectedMonthDay(monthDay);
            monthDay.classList.add("calendar__monthday--end");
          }

          function resetCalendarMonthDay(monthDay) {
            monthDay?.classList?.remove("calendar__monthday--selected");
            monthDay?.classList?.remove("calendar__monthday--start");
            monthDay?.classList?.remove("calendar__monthday--end");
          }

          function resetCalendarSelection(
            { container = $.one(".calendar--grid") } = {
              container: $.one(".calendar--grid"),
            }
          ) {
            const { selected } = getCalendarSelection({ container });
            selected.forEach((monthDay) => resetCalendarMonthDay(monthDay));
          }

          async function createCalendar(
            { container = $.one(".calendar--grid"), date = new Date() } = {
              container: $.one(".calendar--grid"),
              date: new Date(),
            }
          ) {
            const calendarDay = container.querySelector(".calendar__day");
            const calendarMonth = container.querySelector(".calendar__month");
            const calendarYear = container.querySelector(".calendar__year");
            const { day, month, year } = getCalendar({ date });

            calendarDay.innerText = day;
            calendarMonth.innerText = month + 1;
            calendarYear.innerText = year;

            const calendarWeekDays = container.querySelector(
              ".calendar__weekdays"
            );
            const weekdays = getWeekdays({ locale: "es-ES" });
            if (calendarWeekDays.innerText === "") {
              weekdays.forEach(({ name }) => {
                const weekday = window.document.createElement("li");
                weekday.innerText = name.slice(0, 3);
                weekday.classList.add("calendar__weekday");
                calendarWeekDays.appendChild(weekday);
              });

              // TODO : could be improved
              const calendarDateElements = $.all(
                ".calendar__date [contenteditable]"
              );
              calendarDateElements.forEach((calendarDateElement) => {
                calendarDateElement.addEventListener("keydown", ({ key }) => {
                  const navigationKeys = [
                    "ArrowLeft",
                    "ArrowRight",
                    "Backspace",
                    "Delete",
                    "End",
                    "Home",
                    "Tab",
                  ];
                  if (navigationKeys.includes(key)) {
                    return;
                  }
                  setTimeout(() => {
                    const [calendarYear, calendarMonth, calendarDay] = $.all(
                      ".calendar__date [contenteditable]"
                    );
                    createCalendar({
                      date: new Date(
                        Number(calendarYear.innerText),
                        Number(calendarMonth.innerText) - 1,
                        calendarDay.innerText
                      ),
                    });
                  }, 0);
                });
              });

              const previousYear = container.querySelector(
                ".calendar__button--previous-year"
              );
              previousYear.addEventListener("click", (_event) => {
                const [calendarYear, calendarMonth, calendarDay] = $.all(
                  ".calendar__date [contenteditable]"
                );
                createCalendar({
                  date: new Date(
                    Number(calendarYear.innerText) - 1,
                    Number(calendarMonth.innerText) - 1,
                    calendarDay.innerText
                  ),
                });
              });

              const previousMonth = container.querySelector(
                ".calendar__button--previous-month"
              );
              previousMonth.addEventListener("click", (_event) => {
                const [calendarYear, calendarMonth, calendarDay] = $.all(
                  ".calendar__date [contenteditable]"
                );
                createCalendar({
                  date: new Date(
                    Number(calendarYear.innerText),
                    Number(calendarMonth.innerText) - 1 - 1,
                    calendarDay.innerText
                  ),
                });
              });

              const nextMonth = container.querySelector(
                ".calendar__button--next-month"
              );
              nextMonth.addEventListener("click", (_event) => {
                const [calendarYear, calendarMonth, calendarDay] = $.all(
                  ".calendar__date [contenteditable]"
                );
                createCalendar({
                  date: new Date(
                    Number(calendarYear.innerText),
                    Number(calendarMonth.innerText),
                    calendarDay.innerText
                  ),
                });
              });

              const nextYear = container.querySelector(
                ".calendar__button--next-year"
              );
              nextYear.addEventListener("click", (_event) => {
                const [calendarYear, calendarMonth, calendarDay] = $.all(
                  ".calendar__date [contenteditable]"
                );
                createCalendar({
                  date: new Date(
                    Number(calendarYear.innerText) + 1,
                    Number(calendarMonth.innerText) - 1,
                    calendarDay.innerText
                  ),
                });
              });
            }

            const calendarMonthDays = container.querySelector(
              ".calendar__monthdays"
            );
            calendarMonthDays.innerHTML = "";
            const { daysInMonth, firstWeekday } = getCalendar({ date });
            for (let day = 1; day <= daysInMonth; day++) {
              const monthDay = window.document.createElement("li");
              monthDay.tabIndex = "0";
              monthDay.innerText = day;
              monthDay.classList.add("calendar__monthday");

              // TODO : could be improved - monthday selection
              // TODO : add keyboard event
              // TODO : render 3 months ? for previous and later ?
              monthDay.addEventListener("click", (_event) => {
                const { start, end } = getCalendarSelection({ container });
                if (
                  (!start && !end) ||
                  (start && (end || start.innerText > monthDay.innerText))
                ) {
                  resetCalendarSelection({ container });
                  setStartMonthDay(monthDay);
                  return;
                }
                if (start && !end) {
                  let dayInSelection = start.nextSibling;
                  while (dayInSelection !== monthDay) {
                    if (
                      dayInSelection.classList.contains(
                        "calendar__monthday--unavailable"
                      )
                    ) {
                      resetCalendarSelection({ container });
                      setStartMonthDay(monthDay);
                      break;
                    }
                    dayInSelection.classList.add(
                      "calendar__monthday--selected"
                    );
                    dayInSelection = dayInSelection.nextSibling;
                  }
                  if (dayInSelection === monthDay) {
                    setEndMonthDay(monthDay);
                  }
                  return;
                }
              });
              calendarMonthDays.appendChild(monthDay);
            }
            calendarMonthDays.style = `--calendar-monthday-offset: ${firstWeekday}`;

            // TODO : could be improved - calendar painting
            // const isCurrentMonth = true;   // then disable days until today
            // const isPreviousMonth = true;  // then disable all days
            const monthBookings = await getBookings({ date });
            if (monthBookings) {
              $.all(".calendar--grid .calendar__monthday").forEach(
                (calendarMonthDay) => {
                  const foundMonthDayStatus = monthBookings?.days?.find(
                    (bookingsDay) =>
                      Number(bookingsDay.day) ===
                      Number(calendarMonthDay.innerText)
                  )?.status;
                  if (foundMonthDayStatus) {
                    calendarMonthDay.classList.add(
                      monthdayStatusClasses[foundMonthDayStatus]
                    );
                  }
                }
              );
            }
          }

          // TODO : could be improved
          {
            const calendarDateElementsAllowedSpecialNavigationKeys = [
              "ArrowLeft",
              "ArrowRight",
              "Backspace",
              "Delete",
              "End",
              "Home",
              "Tab",
            ];
            const calendarDateElementsAllowedSpecialModifierKeys = [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "0",
              "ArrowDown",
              "ArrowUp",
            ];
            const calendarDateElementsAllowedSpecialKeys = [
              ...calendarDateElementsAllowedSpecialNavigationKeys,
              ...calendarDateElementsAllowedSpecialModifierKeys,
            ];

            const specialKeyFunctions = {
              ArrowDown: function (element) {
                element.innerText = Number(element.innerText) - 1;
              },
              ArrowUp: function (element) {
                element.innerText = Number(element.innerText) + 1;
              },
            };

            function applySpecialKeyToNumericElement(element, key) {
              const specialKeyFunction = specialKeyFunctions[key];
              if (typeof specialKeyFunction === "function") {
                specialKeyFunction(element);
              }
            }

            function addEventListenerForContentEditableNumbers(element) {
              element.addEventListener("keydown", (event) => {
                const { key, target } = event;
                if (!calendarDateElementsAllowedSpecialKeys.includes(key)) {
                  event.preventDefault();
                }
                applySpecialKeyToNumericElement(target, key);
              });
            }

            const calendarDateElements = $.all(
              ".calendar__date [contenteditable]"
            );

            calendarDateElements.forEach((calendarDateElement) =>
              addEventListenerForContentEditableNumbers(calendarDateElement)
            );
          }
        </script>
      </section>
    </main>
  </body>
</html>
