<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Royal Tours · Iframe</title>
    <link rel="shortcut icon" href="/royaltours/src/assets/logo.svg" type="image/x-icon" />
  </head>
  <body>
    <iframe
      src="http://localhost:5500/royaltours/src/components/calendar-table-iframe.html"
      style="border: none; min-height: 384px; min-width: 336px"
    ></iframe>
    <iframe
      src="https://rgdlr.github.io/royaltours/royaltours/src/components/calendar-iframe.html"
      style="border: none; min-height: 384px; min-width: 336px"
    ></iframe>
    <script defer type="module">
      // TODO : https://developer.mozilla.org/en-US/docs/Web/API/HTMLIFrameElement
      window.addEventListener("load", (_event) => {
        const iframes = Array.from(window.document.querySelectorAll("iframe"));
        iframes.forEach(({ contentDocument }) => {
          const style = window.document.createElement("style");
          style.innerHTML = `
          :root {
            --color-primary-000: #000;
            --color-primary-100: #222;
            --color-primary-200: #444;
            --color-primary-300: #666;
            --color-primary-400: #888;
            --color-primary-500: #999;
            --color-primary-600: #aaa;
            --color-primary-700: #ccc;
            --color-primary-800: #eee;
            --color-primary-900: #fff;
          }
          `;
          contentDocument?.head.appendChild(style);
        });
      });
    </script>
    <!-- <script defer type="module">
      window.addEventListener("load", (_event) => {
        const iframe = window.document.querySelector("iframe").contentDocument;
        const link = document.createElement("link");
        link.href = "/royaltours/src/styles/index.css";
        link.rel = "stylesheet";
        link.type = "text/css";
        iframe.head.appendChild(link);
      });
    </script> -->
  </body>
</html>
