<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Royal Tours · Modal</title>
    <link rel="shortcut icon" href="/src/royaltours/assets/logo.svg" type="image/x-icon" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/src/royaltours/styles/index.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script defer type="module" src="/src/royaltours/scripts/index.js"></script>
    <script defer type="module">
      import { initModals } from "/src/royaltours/scripts/modal.js";
      initModals();
    </script>
  </head>
  <body>
    <header class="header header--links-right">
      <a class="header__logo link" href="/royaltours">
        <i class="fa-solid fa-crown"></i>
        <h1 class="h1">Royal Tours</h1>
      </a>
      <a class="header__skip-navigation link" href="#main">Saltar navegación</a>
    </header>
    <main class="main">
      <section class="container container--md">
        <h2 class="h2 h2--margin">Modal 1</h2>
        <a href="#" data-modal-trigger="modal-1">Abrir modal 1</a>
      </section>
      <section class="container container--md">
        <h2 class="h2 h2--margin">Modal 2</h2>
        <a href="#" data-modal-trigger="modal-2">Abrir modal 2</a>
      </section>
    </main>
    <aside class="modal modal--hidden" data-modal-target="modal-1">
      <div class="modal__window">
        <button class="modal__close">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <header class="modal__header">
          <p>Header</p>
        </header>
        <section class="modal__body">
          <p>Body</p>
        </section>
        <footer class="modal__footer">
          <p>Footer</p>
        </footer>
      </div>
    </aside>
    <dialog class="modal modal--hidden" data-modal-target="modal-2">
      <div class="modal__window modal__window--fit-content">
        <button class="modal__close">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <header class="modal__header">Header</header>
        <section class="modal__body">Body</section>
        <footer class="modal__footer">Footer</footer>
      </div>
    </dialog>
  </body>
</html>
