body {
  background-color: var(--background-color-main);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  padding: 1rem;
  width: min(100rem, 100%);
}

.main-title {
  margin: 1rem 0rem;
}

.main-content {
  display: grid;
  flex-grow: 1;
  max-height: 50%;
  place-content: center;
}
