body {
  align-items: center;
  background-color: var(--background-color-main);
  color: var(--color-main);
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  transition: all 250ms;
  width: min(100rem, 100%);
}

.main-title,
.main-paragraph {
  margin-bottom: 1rem;
  width: 100%;
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 1rem;
  width: 100%;
}
