.switch {
  background: var(--background-color-secondary);
  border-radius: 5rem;
  display: inline-block;
  height: 1.5rem;
  width: 3rem;
  position: relative;
}

.switch-checkbox {
  opacity: 0;
}

.switch-circle {
  background-color: var(--background-color-main);
  border-radius: 50%;
  display: none;
  height: 1.35rem;
  left: 3.5%;
  place-content: center;
  position: absolute;
  top: 5%;
  width: 1.35rem;
  transition: all 250ms;
  -moz-transition: all 250ms;
  -webkit-transition: all 250ms;
}

.switch-checkbox:checked + .switch-circle {
  left: 52%;
}

.switch-checkbox:not(:checked) + .switch-circle::before {
  content: "🌞";
}

.switch-checkbox:checked + .switch-circle::before {
  content: "🌚";
}
