:root {
  --background-color-light: #eee;
  --background-color-dark: #333;
  --background-color-main: var(--background-color-light);
  --background-color-primary: #359;
  --background-color-secondary: #c7c;
  --background-color-gradient: linear-gradient(
    var(--background-color-primary),
    var(--background-color-secondary)
  );
  --border-size: 0.2rem;
  --border-radius: 0.35rem;
  --color-light: var(--background-color-dark);
  --color-dark: var(--background-color-light);
  --color-main: var(--color-light);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color-main: var(--background-color-light);
    --color-main: var(--color-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-main: var(--background-color-dark);
    --color-main: var(--color-dark);
  }
}
