:root {
  --alpha-channel: 0.75;
  --background-color-light: #eee;
  --background-color-light-alpha: rgba(238, 238, 238, var(--alpha-channel));
  --background-color-dark: #333;
  --background-color-dark-alpha: rgba(51, 51, 51, var(--alpha-channel));
  --background-color-main: var(--background-color-light);
  --background-color-main-alpha: var(--background-color-light-alpha);
  --background-color-primary: #359;
  --background-color-primary-alpha: rgba(51, 85, 153, var(--alpha-channel));
  --background-color-secondary: #c7c;
  --background-color-secondary-alpha: rgba(204, 119, 204, var(--alpha-channel));
  --background-color-gradient: linear-gradient(
    var(--background-color-primary),
    var(--background-color-secondary)
  );
  --background-color-gradient-alpha: linear-gradient(
    var(--background-color-primary-alpha),
    var(--background-color-secondary-alpha)
  );
  --border-size: 0.2rem;
  --border-radius: 0.35rem;
  --color-light: var(--background-color-dark);
  --color-light-alpha: var(--background-color-dark-alpha);
  --color-dark: var(--background-color-light);
  --color-dark-alpha: var(--background-color-light-alpha);
  --color-main: var(--color-light);
  --color-main-alpha: var(--color-light-alpha);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color-main: var(--background-color-light);
    --color-main: var(--color-light);
    --background-color-main-alpha: var(--background-color-light-alpha);
    --color-main-alpha: var(--color-light-alpha);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-main: var(--background-color-dark);
    --color-main: var(--color-dark);
    --background-color-main-alpha: var(--background-color-dark-alpha);
    --color-main-alpha: var(--color-dark-alpha);
  }
}
