@import url("../../css/index.css");

.tooltips {
  width: 100%;
}

.tooltip {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  outline: none;
  padding: 0.25rem 0.5rem;
  position: relative;
  width: fit-content;
  transition: background-color 250ms ease, color 0.25s ease;
}

.tooltip-content {
  border-radius: 0.5rem;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: top 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip-content::before {
  bottom: -0.25rem;
  content: "";
  height: 0.5rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
  width: 0.5rem;
}

.tooltip:is(:focus, :hover),
.tooltip .tooltip-content,
.tooltip .tooltip-content::before {
  background-color: var(--background-color-primary);
  color: var(--background-color-secondary);
}

.tooltip:is(:focus, :hover) .tooltip-content {
  opacity: 1;
  pointer-events: all;
  top: -2.75rem;
}
