@import url(../../src/css/index.css);

/* HEADER */

.header {
  background-color: var(--background-color-primary);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
}

.switch {
  background: var(--background-color-clock);
  border-radius: 5rem;
  display: inline-block;
  height: 1.5rem;
  width: 3rem;
  position: relative;
}

.switch-checkbox {
  opacity: 0;
}

.switch-circle {
  background-color: var(--color-primary);
  border-radius: 50%;
  display: grid;
  height: 1.35rem;
  left: 5%;
  place-content: center;
  position: absolute;
  top: 5%;
  width: 1.35rem;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
}

.switch-checkbox:checked + .switch-circle {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
}

.switch-checkbox:not(:checked) + .switch-circle::before {
  content: "🌞";
}

.switch-checkbox:checked + .switch-circle::before {
  content: "🌚";
}

/* MAIN */

.main {
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.title {
  font-family: sans-serif;
}

.clock {
  background: var(--background-color-clock);
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--color-primary);
  display: flex;
  font-family: monospace;
  font-size: 2rem;
  font-weight: bold;
}

.clock-hours,
.clock-minutes,
.clock-seconds {
  padding: 1rem;
}

.clock-minutes {
  border-left: var(--border-size) dashed var(--color-primary);
  border-right: var(--border-size) dashed var(--color-primary);
}
