@import url(../../src/css/index.css);

.position {
  background: var(--background-color-gradient);
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--color-main);
  display: flex;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  gap: 1rem;
  padding: 1rem;
}

.position-content {
  display: flex;
  flex-direction: column;
}

.position-latitude-title,
.position-longitude-title,
.position-altitude-title {
  text-align: right;
}

.position-latitude-value,
.position-longitude-value,
.position-altitude-value {
  font-weight: bold;
  text-align: left;
}
