@import url(../../src/css/index.css);

.drop {
  align-items: center;
  background-color: #bbb;
  border-radius: 0.5rem;
  border: 0.2rem dashed var(--background-color-main);
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  justify-content: center;
  width: min(25rem, 100%);
  position: relative;
}

.drop:hover {
  opacity: 0.9;
}

.drop::before {
  border-radius: 0.5rem;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.drop.no-overlay::before {
  display: none;
}

.drop-title,
.drop-subtitle {
  color: var(--background-color-main);
}

.drop-title {
  margin: 1rem;
}

.drop-title-keyword {
  background-color: var(--background-color-main);
  color: var(--color-main);
  border-radius: 0.5rem;
  font-size: 0.8rem;
  padding: 0.4rem;
  text-transform: uppercase;
}

.drag {
  background-color: var(--color-main);
  border-radius: 50%;
  border: 0.25rem solid #bbb;
  cursor: move;
  display: inline-block;
  height: 3rem;
  margin: 1rem;
  width: 3rem;
}

.drag-primary {
  background-color: var(--background-color-primary);
}

.drag-secondary {
  background-color: var(--background-color-secondary);
}
