* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

canvas {
  max-height: 100%;
  max-width: 100%;
}

/* Header */

.header {
  background-color: white;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
}

.header__link {
  text-decoration: none;
  text-transform: uppercase;
}

/* Controls */

.controls {
  bottom: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  position: fixed;
  visibility: hidden;
  width: 100%;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .controls {
    visibility: visible;
  }
}

.controls__movements {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 3rem);
}

.controls__movement {
  all: unset;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.1rem solid rebeccapurple;
  color: rebeccapurple;
  display: flex;
  flex-grow: 1;
  height: 3rem;
  justify-content: center;
  text-transform: uppercase;
  user-select: none;
  width: 3rem;
}

.controls__movement:first-child {
  grid-column: span 2;
  justify-self: end;
}

.controls__movement:is(:hover, :focus, :focus-visible) {
  background-color: #a3a3;
}
